<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Copyright (c) Sambhav Saggi 2021. | <a href="/copyright">Copyright and privacy policy.</a> | <a href="/search">Search this site.</a> | We use no cookies.</p>
    </section>
</section>
