<span class="blog-date">
    <time class="dt-published" datetime="{{ page.date|date("c") }}">
        <img class="icon-inline" src="{{ url('theme://images/fa/calendar.svg') }}" /> {{ page.date|date(system.pages.dateformat.short) }}
    </time>
</span>
